*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-size: 100%;
    font-family: 'Open Sans', sans-serif;
    border: none;
    outline: none;
  }
  
  ul {
      list-style: none;
  }
  
  a {
      text-decoration: none;
}

body{
    display: flex;
    flex-direction: row;
    justify-content: space-around;
}